.draw {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.draw .top {
    background-color: var(--prim-background);
}

.draw .canvasSizePlaceholder {
    height: 100%;
}

.draw .canvas {
    position: absolute;
    bottom: 0;
}

.draw .instruction-paragraph {
    color: white;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 20px;
    text-align: center;
}

.draw .btns-timer {
    margin: 20px;
    display: flex;
}

.draw img.button {
    height: 30px;
    width: 30px;
    cursor: pointer;
    margin-top: 0px;
    margin-right: 10px;
    background-color: var(--sec-background);
    border-radius: 10px;
    padding: 10px;
}

@media (hover: none) {
    .draw img.button:active {
      background-color: var(--sec-background-dark);
    }
}
  
@media (hover: hover) {
    .draw img.button:hover {
        background-color: var(--sec-background-dark);
    }
}

.draw .timer {
    margin-left: auto;
}

.draw .hint-picture {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100px;
    height: 100px;
    margin: 20px;
    border-style: ridge;
    border-radius: 5px;
    border-color: black;
    border-width: medium;
}