.draw {
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: stretch;

    --btn-size: 45px;
}

.draw .top {
    background-color: var(--prim-background);
    width: 100vw;
}

.draw .canvasSizePlaceholder {
    height: 100%;
}

.draw .canvas {
    position: absolute;
    bottom: 0;
}

.draw .instruction-paragraph {
    color: white;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    margin-top: 5px;
    font-size: 20px;
    text-align: center;
}

.draw .btns-timer {
    margin: 20px;
    display: flex;
}

.draw img.button {
    height: calc(var(--btn-size) - 20px);
    width: calc(var(--btn-size) - 20px);
    cursor: pointer;
    margin-top: 0px;
    margin-right: 10px;
    background-color: var(--sec-background);
    border-radius: 10px;
    padding: 10px;
}

@media (hover: none) {
    .draw img.button:active {
      background-color: var(--sec-background-dark);
    }
}
  
@media (hover: hover) {
    .draw img.button:hover {
        background-color: var(--sec-background-dark);
    }
}

.draw .timer {
    margin-left: auto;
    height: var(--btn-size);
    line-height: var(--btn-size);
    width: var(--btn-size);
}

.draw .hint-div {
    z-index: 20;
}

.draw .hint-picture {
    position: fixed;
    right: 0;
    bottom: 0;
    height: 12vh;
    width: 12vh;
    margin-bottom: 30px;
    margin-right: 20px;
    border-style: ridge;
    border-radius: 5px;
    border-color: black;
    border-width: medium;
    background-color: white;
}

@media (hover: none) {
    .draw [large='1'].hint-picture {
        height: 45vh;
        width: 45vh;
    }
}
  
@media (hover: hover) {
    .draw .hint-picture:hover {
        height: 45vh;
        width: 45vh;
    }
}