.draw .top {
    overflow: hidden;
    background-color: var(--prim-background);
}

.draw .instruction-paragraph {
    color: white;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 20px;
    text-align: center;
}

.draw .btns-timer {
    margin: 10px;
}

.draw .btns-timer div {
    display: inline-block;
}

.draw .draw-btn {
    margin-top: 0px;
    background-color: var(--prim-background);
}

.draw .hint-div{
 margin-left: 0px;
 margin-top: auto;
 margin-bottom: auto;
}

.draw .canvas{
    margin-top: auto;
    display: flex;
    margin: auto;
}

.draw .undo-btn {
    display: inline;
    background-color: var(--prim-background);
    border: none;
    color: white;
    padding: 10px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 0;
    cursor: pointer;
}

.draw .next-btn {
    display: inline;
    background-color: var(--prim-background);
    border: none;
    color: white;
    padding: 10px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 0;
    cursor: pointer;
}

.draw .hint-picture {
    height: auto;
    margin-right: auto;
    margin-left: 0px;
    background-color: aliceblue;
}

.draw .instruction-paragraph{
   
}

