:root {
  --prim-background: rgb(19, 46, 68);
  --sec-background: rgb(41, 90, 131);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.topnav {
  overflow: hidden;
  background-color: var(--prim-background);
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: var(--sec-background);
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

.HomeLink{
  background-color: #147af0;
  color: white;
}


