

/*
  .mainheading {
    background-color: rgb(68, 162, 199);
    color: rgb(18, 86, 126);
    font-size: 25px;
    padding: 5px 20px;
    cursor: pointer;
  }
  
  .LoginButton {
    background-color: rgb(68, 162, 199);
    color: rgb(18, 86, 126);
    font-size: 20px;
    border: none;
    padding: 8px 20px;
    cursor: pointer;
    display: inline-block;
    margin: 0px 0px;
  }
  */